// variables

$blue: #4391ce;
$blue-light: #99d9e9;
$green: #0e9547;
$yellow: #f2bf1a;
$red: #f15a2b;
$orange: #f69321;
$tan: #f6dcc4;
$white: #fff;

$sm-md: 700px;

// global blockparty styles

.blockparty {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Pen Script", -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  align-items: center;
  padding: 5vw 0;

  @media (max-width: $sm-md) {
    padding: 10vw 0 30vw;
  }

  section {
    padding-top: 50px;

    header {
      display: flex;
      justify-content: space-between;

      // back to top button
      .button-icon {
        align-self: start;
        font-size: 1.5rem;
        padding: 0 5px;
      }
    }
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    padding: 0 20px 20px 0;
    margin: 0;

    @media (max-width: $sm-md) {
      padding-right: 0;
    }
  }

  h2 {
    font-size: 1.875rem;
    line-height: 1.875rem;
    text-transform: uppercase;
  }

  p,
  ul,
  table {
    font-size: 1.5rem;
    line-height: 1.875rem;

    @media (max-width: $sm-md) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  a {
    color: $red;
    &:hover,
    &:focus,
    &:active {
      color: darken($red, 10%);
    }
  }

  hr {
    border-color: $orange;
    border-width: 2px;
  }

  .cta {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6rem;
    margin-bottom: 3vw;

    span {
      @media (max-width: $sm) {
        display: none;
      }
    }
  }

  .center {
    text-align: center;
  }
}

// header (includes nav)

.blockparty-header {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 40px 0;

  @media (max-width: $sm-md) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.blockparty-nav {
  align-items: center;
  display: flex;
  margin: 0;

  @media (max-width: $sm) {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .blockparty-nav--btn {
    margin-left: 10px;
    background: #eeeeee;
    border: none;
    border-radius: 5px;
    color: #1b1b1b;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: 300;
    padding: 8px 18px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus {
      background: $yellow;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
      text-decoration: none;
    }

    @media (max-width: $sm) {
      margin: 0 0 15px 5px;
    }
  }

  .blockparty-nav--social {
    display: flex;
    justify-content: flex-end;
  }

  a {
    display: flex;
    text-decoration: none;
    margin-left: 20px;

    i {
      font-size: 2.4rem;
    }
  }
}

// hero (flier)

.blockparty-hero {
  display: flex;
  text-transform: uppercase;
  width: 90vw;

  @media (max-width: $sm-md) {
    flex-direction: column;
    width: 95vw;
  }

  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  p {
    margin-bottom: 1vw;
  }

  p,
  li {
    font-size: 4vw;
    line-height: 4vw;

    @media (max-width: $sm-md) {
      font-size: 10vw;
      line-height: 10vw;
    }

    &.small {
      font-size: 2vw;
      line-height: 2vw;
      text-transform: initial;

      @media (max-width: $sm-md) {
        font-size: 5.75vw;
        line-height: 5.75vw;
      }

      &:last-child {
        margin: 2vw 0;

        @media (max-width: $sm-md) {
          margin: 5vw 0;
        }
      }
    }
  }

  .blockparty-hero--left,
  .blockparty-hero--right {
    width: 46vw;
  }

  .blockparty-hero--left {
    margin: 0 -1vw 0 0;
    z-index: 2;

    @media (max-width: $sm-md) {
      margin: 0 0 -3vw 0;
      width: 100%;
    }
  }

  .blockparty-hero--right {
    background-image: url("/blockparty-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 0 0 -1vw;
    padding: 5vw;
    z-index: 1;

    @media (max-width: $sm-md) {
      background-image: url("/blockparty-2-mobile.png");
      margin: -5vw 0 0 0;
      padding: 10vw;
      width: 101%;
      z-index: 3;
    }
  }

  .sun {
    width: 18vw;
    margin: 0 auto;
    display: block;
    transform: rotate(10deg);

    @media (max-width: $sm-md) {
      width: 50vw;
    }
  }
}

// itinerary

.blockparty-itinerary {
  table {
    border-spacing: 0;
    border-collapse: collapse;

    td {
      padding: 3vw 2vw;

      ul {
        padding-left: 15px;
      }

      &.last {
        text-align: center;
        text-transform: uppercase;
      }
    }

    thead tr:nth-child(6n + 1) td {
      background-color: $white;
    }

    tr:nth-child(6n + 1) {
      td {
        background-color: lighten($blue, 40%);
        border-bottom: 3px solid $blue;
      }
    }
    tr:nth-child(6n + 2) {
      td {
        background-color: lighten($green, 60%);
        border-bottom: 3px solid $green;
      }
    }
    tr:nth-child(6n + 3) {
      td {
        background-color: lighten($yellow, 40%);
        border-bottom: 3px solid $yellow;
      }
    }
    tr:nth-child(6n + 4) {
      td {
        background-color: lighten($blue-light, 20%);
        border-bottom: 3px solid $blue-light;
      }
    }
    tr:nth-child(6n + 5) {
      td {
        background-color: lighten($red, 40%);
        border-bottom: 3px solid $red;
      }
    }
    tr:nth-child(6n + 6) {
      td {
        background-color: lighten($orange, 40%);
        border-bottom: 3px solid $orange;
      }
    }
  }
}

// faq

.blockparty-faq,
.blockparty-thanks {
  ul {
    @media (max-width: $sm-md) {
      padding-left: 30px;
    }
  }

  li span {
    text-decoration: underline;
  }
}

// footer

.blockparty-footer {
  .blockparty-footer--top {
    display: flex;
    justify-content: space-between;
    margin: 5vw 0;
    width: 100%;

    .button-icon {
      align-self: start;
      font-size: 1.5rem;
      padding: 0 5px;
    }

    .sun {
      max-width: 200px;
      transform: rotate(-10deg);
      width: 100%;
    }
  }
}
