// global styles
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

main {
  min-height: calc(100vh - 55px);
}

body {
  color: $gray-1;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 10px;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 0 0 40px 0;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 0 0 40px 0;
}

p {
  color: $gray-1;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.6em;
  margin-top: 0;
}

a {
  color: $purple;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.5s ease;
  &:hover {
    color: $purple-dark;
    text-decoration: none;
  }
}

ul {
  color: $gray-1;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.6em;
  margin: 0;

  li {
    margin-bottom: 10px;
  }
}

hr {
  border: 1px solid $purple;
  width: 20%;
}

section {
  padding: 100px 0 0;
  &:last-child {
    padding-bottom: 100px;
  }
}

code {
  display: inline-block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin-left: 30px;
}

.app {
  min-height: 100vh;

  .app-main {
    min-height: calc(100vh - 55px);
    padding: 55px 0 110px;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  width: -webkit-fill-available;
}

.loading {
  display: block;
  margin: 20vh auto 0;
  max-width: 400px;
  width: 100%;
}

.error-message {
  font-weight: 400;
  text-align: center;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
