.button {
  color: $white;
  cursor: pointer;
  background: $purple;
  border: 1px solid $purple;
  border-radius: 15px;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 10px auto;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s ease;
  text-decoration: none;
  &:hover:enabled {
    background: $white;
    color: $purple;
    text-decoration: none;
  }
  &:active {
    transform: translateY(1px);
  }
}

.button-link,
.button-icon {
  @extend a;
  cursor: pointer;
  border: none;
  line-height: 1.6em;
  padding: 0;
  text-align: left;
}
