// brand colors

$teal: #25a3a4;
$blue: #E5F9F8;
$purple: rgb(121, 109, 153);

// grayscale

$black: #000000;
$gray-1: #1b1b1b;
$gray-2: #5a5a5a;
$gray-3: #9a9a9a;
$gray-4: #cccccc;
$gray-5: #eeeeee;
$white: #ffffff;

// breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
