// brand colors

$teal: #25a3a4;
$blue: #e5f9f8;
$purple: #796d99;
$purple-dark: #4e3f77;

// grayscale

$black: #000000;
$gray-1: #1b1b1b;
$gray-2: #5a5a5a;
$gray-3: #9a9a9a;
$gray-4: #cccccc;
$gray-5: #eeeeee;
$white: #ffffff;

// breakpoints
$xs: 320px;
$sm: 500px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
